@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'quicksand',sans-serif;
}

body{
	position: flex;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	transition: all 0.5s ease;
 	background: #fff;	
	justify-content: center;
	align-items: center;
}


.sidebar{
	position: fixed;
	height: 100%;
	top:0;
	left: 0;
	width: 70px;;
	background: #11101d;
	padding: 6px 14px;
	transition: all 0.5s ease;
}
.sidebar.active{
	width: 260px;
}
.sidebar .logo_content .logo{
	color: #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items:center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;

}
.sidebar.active .logo_content .logo{
	opacity: 1;
	pointer-events: none;
}
.logo_content .logo i{
	font-size: 28px;
	margin-right: 5px;
}
.logo_content .logo .logo_name{
	font-size: 20px;
	font-weight: 400;
	transition: all 0.5s ease;
}
.sidebar.active .logo_name{
	opacity: 1;
	pointer-events: none;
	transition: all 0.5s ease-in-out;
}
.sidebar #btn{
	position: absolute;
	color:#fff;
	left: 50%;
	top: 6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.sidebar.active #btn{
	left: 90%;
}
.sidebar ul{
	margin-top: 20px;

}
.sidebar ul li{
	position: relative;
	height: 50px;
	width: 100%
	margin: 0 5px;
	list-style: none;
	line-height: 50px;
}
.sidebar ul li .tools{
	position: absolute;
	left: 122px;
	top: 50%;
	transform: translateY(-50% , -50%);
	border-radius: 6px ;
	height: 35px;
	width: 122px;
	background: #fff;
	line-height: 35px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 2);
	transition: 0s;
	opacity: 0;
	pointer-events: none;
}
.sidebar.active ul li .tools{
	display: none;
}
.sidebar ul li:hover .tools{
	transition: all 0.5s ease;
	opacity: 1;
	top: 50%;

}
.sidebar ul li input{
	position: absolute;
	height: 80%;
	width: 80%;
	left: 0;
	top: 0;
	border-radius: 12px;
	outline: none;
	border: none;
	background: #1d1b31;
	padding-left:50px;
	font-size: 18px;
	color: #fff;

}
.sidebar ul li .bx-search{
	position: absolute;
	z-index: 99;
	color: #fff;
	font-size: 20px;
	top: -4px ;
	transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
	background: #fff;
	color: #1d1b31;
}
.sidebar ul li a{
	color: #fff;
	display: flex;
	align-items:center;
	text-decoration: none;
	transition:all 0.4s ease;
	border-radius: 12px;
	white-space: nowrap;
}
.sidebar ul li a:hover{
	color: #11101d;
	background: #fff;
}
.sidebar ul li i{
	height: 50px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.sidebar .link_name{
	opacity: 0;
	pointer-events: none;
}
.sidebar.active .link_name{
	opacity: 1;
	pointer-events: auto;
	transition: all 0.5s ease;
}
.sidebar .profile_content{
	position: fixed;
	color: #fff;
	bottom: 0;
	left: 0;
	width: 100%;

}
.profile .profile_detail img{
	height: 60px;
	width: 55px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	margin-bottom: 15%;
	margin-left: 10px;
	background: #1d1b31;
	transition: all 0.4s ease;
}
.sidebar.active .profile_detail img{
	padding: 5px;
	margin-bottom: 100px;
	width: 100px;
	height: 100px;
}
.profile #log_out{
	position: absolute;
	left: 1%;
	bottom: 5px;
	tranform:translateX(-50%);
	min-width: 50px;
	line-height: 50px;
	font-size: 20px;
	border-radius: 12px;
	text-align: center;
}	
.sidebar.active .profile #log_out{
	left: 40px;
	margin-left: 80px;
	transition: all 0.4s ease-in;

}
.home_page{
	position: absolute;
	height: 100%;
	left: 78px;
	width: calc(100% - 78px);
	transition: all 0.5s ease;
}
.home_page .text{
	font-size: 35px;
	font-weight: 500;
	color: #1d1b31;
	margin: 12px;
}
.sidebar.active ~ .home_page{
	width: calc(100% - 260px);
	left: 260px;
}



@media only screen and (max-width: 1600px) {
    body {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        width: 100%;
    }
   
}

